@import "Style/_global.scss";


.form-check {
  display: inline-block;
}



.q-quatro {
  @media screen and (min-width: 977px) {

  .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    #col-customizing {
      flex: 0 0 42%;
      max-width: 42%;
    }
  }
  @media screen and (max-width: 976px) {

  .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    #col-customizing {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 746px) {


  .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    #col-customizing {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

#q-quatro-custom {

  @media screen and (min-width: 977px) {
    width: 80%
  }
  @media screen and (max-width: 976px) {
    width: 100%
  }
}

small {
  > .badge-dark {
    background: purple !important;
  }

  > .badge-primary {
    color: #2e016a;
    background-color: #ac77f3;
  }
}

.muted {
  max-width: 85%;
  font-size: 18px;

  @media screen and (max-width: 1035px) {
    font-size: 15px;
}
  @media screen and (max-width: 927px) {
    font-size: 13px;
  }
  @media screen and (max-width: 746px) {
    font-size: 17px;
  }
}

@media screen and (max-width:992px) {
  .calculation-box {
    font-size: 27px;

    @media screen and (max-width:756px) {
      font-size: 20px;
    }
  }
}
