@import "Style/_global.scss";

.search-sol-width {
  flex: 0 0 85%;
}

.search-sol-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
}

.form-control {
  font-size: 0.8rem !important;
}

.search-sol-result {
  margin-left: 22px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.search-sol-form {
  display: flex;
  justify-content: space-evenly;
}

.sol-search-icon {
  margin-left: 5px;
  color: #fff;
}

.final-icon {
  cursor: pointer;
}
