@import "Style/_global.scss";

.col-md-6 {
  margin: 0 auto;
}

.fa-search {
  padding-left: 15px;
}

.form-inline {
  margin-left: 90px;
}

.mt-4 {
  margin-top: 3.5rem !important;
}

.mb-4 {
  margin-bottom: 0.3rem !important;
}

.search-result {
  margin-left: 115px;
}

.search-result {
  cursor: pointer;
}

.fa {
  color: rebeccapurple;
}
