@import "Style/_global.scss";

.w-75 {
    width: 86%!important;
}


.form-control {
    font-size: 0.8rem !important;
}

.search-sol-result {
  margin-left: 22px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
