
.recommend-container {
  background-color: white;
  height: 800vh;
}


.title {
  .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
}

.item {
    width: 82%;
    margin-bottom: 0px;
    border: 0px solid;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
    border-color: #cccccc;
    min-height: 220px;
    display: inline-block;
    text-align: left;
    border-radius: 10px;
    transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.15rem 0.9rem rgba(0, 0, 0, 0.2);
}

.title h1 {
    margin-top: 70px;
    font-size: 34px;
    margin-bottom: 100px;
    font-weight: 700;
    font-family: Raleway;
}

ion-icon svg {
    fill: currentColor;
    stroke: currentColor;
}

.item-content h1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 1px;
    cursor: pointer;
}

.item-content p {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-interact {
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
    padding-right: 0px;
}

.item-content .badge-primary {
    color: #fff;
    background-color: #f9f9f9;
    border: 1px solid;
    border-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    color: #888888;
    font-weight: none;
    font-family: "Raleway";
    font-size: 11px;
    height: 32px;
    margin-bottom: 5px;
}

.item-interact .badge-secondary {
    background-color: #fdfdfd;
    border: 1px solid;
    border-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    color: #111111;
    font-weight: none;
    font-family: "Roboto";
    font-size: 14px;
    height: 35px;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
}


.stars-accumulated {
    font-size: 10px;
    padding-top: 8px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.col-lg-9 {
    flex: 0 0 75%;
    max-width: 100%;
}

.item-header {
  border-radius: 5px;
  background-color: #9370DB;
  p {
    color: white;
    font-size: 24px;
    padding-left: 20px;
  }
}

.col-lg-9 {
    flex: 0 0 100%;
    max-width: 100%;
}

.navbar-brand {
  p {
    color: #8A2BE2;
    font-size: 24px;
    font-weight: 800;
  }
}

.header {
    vertical-align: middle;
    padding: 2px 40px;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

.navbar-light .navbar-nav .nav-link-right a {
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 0px;
    color: #222;
    font-size: 15px;
    padding-top: 8px;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-light .navbar-nav .nav-link-right {
    display: block;
    padding: 0.5rem 0.5rem;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.header-logo {
  float: left;
}

#navbarSupportedContent {
  float: right;
}


.navbar-recommendation {
  padding-top: 10px;
}

@media screen and (min-width: 992px) {
  .col-lg-6 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

.process-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  display: -webkit-inline-box;

  .infinite-container {
    width: 24%;
    margin-bottom: 180px;
  }

  .item {
      padding: 0.5em;
      width: 95%;
      height: 400px;
      }
  p {
    font-size: 15px;
    padding-left: 0px;
  }

  .item-header {
    text-align: center;
    margin-left: 0px;
  }
}

#data-preprocessing  {
  background-color: #9400D3;
}

#modeling {
  background-color: #8B008B;
}


#model-modification {
  background-color: #4B0082;
}

#pre-default {
  background-color: #C8C8C8;
}


.preparation-list {
  padding-left: 10px;
  display: inline-block;

  li {
    list-style: square;
    margin-left: 10px;
    margin-top: 5px;
  }

  svg {
    height: 21px;
  }

  #text-change {
    width: 80% !important;
  }
}

.preparation-list2 {
  padding-left: 10px;

  li {
    list-style: none;
    margin-left: 10px;
    margin-top: 5px;
  }

  svg {
    height: 21px;
  }
  .round #rec {
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    height: 9px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 9px;
    border-radius: 0%;
  }
}

#badge-link {
   margin-bottom: 0px;
}

#top-list {
  font-size: 17px;
  font-weight: 700;
  margin-top: 15px;

  P {
    font-weight: 300;
  }
}

#top-list-process {
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;

}

@media screen and (min-width: 992px) {
  .container {
      max-width: 1260px;
  }
}


.contents-wrapper {
  margin-top: 10px;
  width: 97%;

  .b-active {
      border-color: #5b616b !important;
  }

  .border {
      border: 1px solid;
      border-color: #e0e0e0 !important;
      padding: 10px;
      background-color: white;
  }

  .b-thick {
      border-width: 1px !important;
  }

  .b-radius {
      border-radius: 5px !important;
  }

  tr {

    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  table {
    width: 72%;
    display: inline-block;
  }
}

.contents-table {
  p {
  font-size: 15px;
  }

  #contents-head {
    text-decoration: underline;
  }

  span {
    font-weight: 800;
  }
}


.entity {
  display: inline-block;
  margin-left: 40px;
  vertical-align: super;

  .badge-light {
      padding: 10px;
      padding-top: 0px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
      width: 130px;
  }

  .badge-dark {
      background-color: #1f6bcd !important;
      border-color: #e0e0e0;
      padding: 10px;
      padding-top: 0px;
      padding-bottom: 10px;
      border-radius: 5px;
      color: #fff;
      font-weight: none;
      font-family: "Raleway";
      font-size: 14px;
      width: 130px;
      letter-spacing: 0.5px;
      margin-left: 0px;
    }

  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    box-shadow: none;
  }
}

.icon-inner {
  svg {
    height: 25px;
  }
}


.icon .hydrated {
  display: inline-block;
}

button {
  border: none;
  border-width: none;
  position: relative;
  z-index:5;
}


// for change button

.round {
  position: relative;
  display: inline-block;
}

.round label {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 9px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 9px;

}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #FF00FF;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + #rec {
  background-color: #FF00FF;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + #rec:after {
  opacity: 1;
}

#delete-circle {
  list-style: none !important;
}

#text-change {
  width: 80% !important;
}

.infinite-container {
  a:link {
    color: black;
    text-decoration: none;
    }
 a:visited {
    color: black;
    text-decoration: none;
  }
 a:hover {
   color: black;
   text-decoration: none;
 }
}

.process-wrapper .infinite-container:hover .row{
  -webkit-filter: blur(3px);
  filter: blur(3px);
  background-color: #F0F0F0;
}

#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px #FF00FF;
  width:100%
}

#tooltip .tooltiptext {
  text-decoration: underline;
  font-weight: 800;
  visibility: hidden;
  width: 190px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 42%;
  left: 38%;
  margin-left: -60px;

  opacity: 0;
}

.tooltip-sub {
  color: grey;
}

#tooltip .tooltiptext::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #FF00FF transparent;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text-center {
  margin-bottom: 50px;
}

.finish-btn-pos {
  float: right;
  margin-top: 310px;
}

.finish-btn-pos2 {
  float: right;
  margin-bottom: 20px;
}

.finish-btn-pos3 {
  float: right;
  margin-bottom: 20px;
}

.finish-btn-pos4 {
  float: right;
  margin-bottom: 20px;
}

.wiki {
  text-decoration: underline;
  color: blue;
  font-size: 20px;
}

#icon-change {
  background-color: #fff !important;
  width:0px;
}
