@import "Style/_global.scss";

.solution-container {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f4f1fa;
  min-height: 100vh;
  overflow: hidden;

}

.main-container {
   .sol-row {
    width: 100%;
  }
}

.sol-col-lg-6 {
  width: 82%;
  text-align: center;
  margin: 0 auto;
}

.solution-page-title {
  text-align: center;
  color: black;
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 50px;
  font-weight: 800;
  font-family: 'Gilroy-Bold';
  color: #232D41;
  line-height: 64px;
  letter-spacing: 0;
}
