@import "Style/_global.scss";

.sub-wrapper {
    background-color: indigo;
    min-height: 100vh;
}

.sub-search-title {
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  font-family: 'Athiti', sans-serif;
}
