
header nav a.nav-link {
  font-weight: bolder;
  color: #e9eaeb!important;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  border-left: 1px solid #c42a8f;
}

header nav a.navbar-brand {
  font-weight: bolder;
  color: #e9eaeb !important;
  font-size: 23px;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}
