@import "Style/_global.scss";

header nav a.nav-link {
  font-weight: bolder;
  color: #e9eaeb !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  border-left: 1px solid #FFFFFF;
}

header nav a.navbar-brand {
  font-weight: bolder;
  color: #e9eaeb !important;
  font-size: 23px;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}


.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background-color: transparent !important;
}
