@import "Style/_global.scss";

footer {
  border-bottom: .6rem solid #8A2BE2;
  font-weight: lighter;
}

.row {
  margin: 0 auto;
  width: 800px;
}
.introduce {
  font-size: 25px;
  color: white;
}

.footer-wrapper {
  padding: 1.5rem !important;
}

.footer-brand {
  color: white;
  margin-bottom: 10px;
  font-weight: 1000px;
  font-size: 2.5rem;
}

.main-wrapper {
  min-height: 48.5vh;
}

.main-comment {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  width: 900px;

  p {
    font-size: 40px;
    color: black;
  }
}

.main-bg {
  width: 900px;
  margin: 0 atuo;
  img {
    height: 30%;
    width: 30%;
  }
}

.search-wrapper {
  background-color: white;
}

.main-picture {
  margin: 0 auto;
}
