@import "Style/_global.scss";

.custom-wrapper {
  min-height: 100vh;
  background-color: #fff;
}

.custom-main {
  min-height: 32vh;
  background-color: #5c1f9cff;

  .c-main-wrapper {
      padding: 50px 82px 50px;

    h1 {
      font-size: 40px;
      font-family: 'Gilroy-Bold';
      color: #fff;
      line-height: 56px;
      letter-spacing: 0;
      margin: 0;
      font-weight: 800;
      margin-bottom: 80px;
    }

    h2 {
      font-size: 45px;
      font-family: 'Gilroy-Bold';
      color: #fff;
      line-height: 64px;
      letter-spacing: 0;
      font-weight: 900;
      margin-bottom: 20px;
      margin-top: 38px;
    }

    p {
      font-size: 20px;
      color: #fff;
    }
  }
}

.custom-survey {
  .s-wapper {
    padding: 8rem;
    padding-top: 60px;

    section {
      padding: 25px;
    }
  }
}

.question-container {
  padding: 2rem;
  border-radius: .375rem;
  border: .0625rem solid #d3d3d3;
  margin-top: 100px;

  h3 {
    font-weight: 800;
    width: 100%;
  }

  .form-check{
    margin-top: 20px;
  }
}

.s-m-header {
  font-family: Open Sans,sans-serif;
  font-weight: 800;
  line-height: 1.3;
  font-size: 40px;
}

.s-m-list {
  margin-top: 30px;
  margin-left: 20px;
  color: dimgrey;

  > li {
  list-style-type: disc;
  margin-top: 10px;
  }
}

#header-explain {
  margin-bottom: 15px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: -.02rem;
  line-height: 1.6;
  width: 100%;
}

.mt-1 {
  opacity: 0;
}


.muted {
  font-size: 18px;
  max-width: 90%;
}


small {
  display: block;

  > .badge {
    margin-right: 10px;
    line-height: 1.5;
    vertical-align: text-bottom;
  }
}

.preprocess-list {
  margin-left: 20px;

  > .q-quatro {
    list-style-type: square;
  }
}

#h-e-bold {
  font-weight:bold;
}

.card-box:hover {
  background-color: #eee8f3;
  cursor: pointer;
}

hr {
  border-width: 10px;
  border-color: purple;
  border-radius: 16px;
}

.card-box {
  min-height: 136px;
  height: 150px;
}

.q-quatro {
  display: flex;
  flex-wrap: wrap;
}

.calculation-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 27px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary-cost {
  color: #fff;
  border-color: #4a43f4;
  background-color: #4a43f4 !important;
  box-shadow: none;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 101%;
  letter-spacing: 2px;
  border-radius: 9px;
}

.cal-box-cost-month {
  flex: 0 0 50%;

  > small {
    font-size: 27px;

    @media screen and (max-width:975px) {
      font-size: 20px;
    }
  }

  @media screen and (max-width:975px) {
    font-size: 20px;
  }
}

.cal-box-cost-month-btn {
  flex: 0 0 18%;

  p {
    font-size: 16px;

    @media screen and (max-width:1017px) {
      font-size: 13px;
    }
  }
}

@media screen and (max-width:590px) {
  .question-container {
    padding: 0rem;
  }
}

@media screen and (max-width:700px) {
  .s-wapper {
    padding: 1rem !important;
  }
}
