@import "Style/_global.scss";

.supercomputer-container {
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.s-main {
  min-height: 62vh;
  background-color: #1d2d56;

  .s-main-wrapper {
    padding: 50px;

    h1 {
      font-size: 40px;
      font-family: 'Gilroy-Bold';
      color: #fff;
      line-height: 56px;
      letter-spacing: 0;
      margin: 0;
      font-weight: 800;
      margin-bottom: -20px;
    }

    p {
      font-size: 20px;
      color: #fff;
    }
  }
}

.s-main-introduce {
  float: left;
  padding: 48px;
  max-width: 50%;
  padding-top: 0px;

  h2 {
    font-size: 25px;
    color: #fff;
    line-height: 64px;
    letter-spacing: 0;
    font-family: -webkit-body;
    font-weight: 900;
  }

  p {
    font-family: -webkit-body;
    color: #fff;
  }
}

.s-interior {
  border-width: 3px;
  border-color: #fff;
}

.s-usage {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.s-footer {
  min-height: 49vh;
  background-color: #1d2d56;

  .s-footer-top {
    padding: 228px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;

    .s-footer-text {
      display: block;
      font-size: 1.55rem;
      color: #fff;
      font-family: -webkit-body;
      font-weight: 800;
    }
  }

  p {
    text-align: center;
    padding: 200px;
    padding-top: 0px;
    padding-bottom: 30px;
    color: #fff;
    font-family: -webkit-body;
  }
}

.s-footer-bottom-line {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #263b72;
}

.s-memory-wrapper {
  position: absolute;
  top: 13%;
  left: 36%;
  width: 25%;;
}

.s-gpu-wrapper {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 23%;;
}

.gpu-battery-wrapper {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 30px;
}



.s-usage-wrapper {
  position: absolute;
  top: 13%;
  left: 62%;
  width: 25%;;
}

.s-m-progress-bar {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.s-m-service {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.s-gpu-service {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#gpu-items-text {
  margin-bottom: 20px;
  color: dimgrey;
}

.s-c-example {
  border: 0.5px solid #DCDCDC;
  margin-top: 10px;
  width: 45%;
  border-radius: 5px;
}

#gpu-items-digit {
  float: right;
}

.status-box-used {
  display: inline-block;
  height:10px;
  width:15px;
  background-color: rgba(0, 230, 64, 1);
}

.status-box-avail {
  display: inline-block;
  height:10px;
  width:15px;
  background-color: #DCDCDC;
}

.status-wrapper {
  line-height: 1;
  span {
    font-size: 7px;
  }
}

.status-checking-box {
  float: right;
  align-self: flex-end;
  padding: 5px;
}

.gpu-items-wrapper {
  margin-bottom: 15px;
  padding: 5px;
}

.CircularProgressbar {
    width: 85%;
    vertical-align: middle;
    padding: 7px;
}

.canvasjs-chart-credit {
  display: none !important;
}

.canvasjs-chart-canvas {
  p span {
    display: none !important;
  }
}

.gpu-img-wrapper {
  img {
    display: inline-block;
  }
}

.gpu-status-wrapper {
  width: 90%;
  display: inline-block;
  margin-bottom: 29px;
  p {
    font-family: 'Oswald', sans-serif;
  }
  > img {
    float: left;
    display: inline-block;
    width: 58%;
    padding-top: 34px;
  }
}


.s-m-u-status-wapper {
  width: 310px;
  text-align: center;
}

.temp-wrapper {
  float: right;
}
