@import "Style/_global.scss";

.box1 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}

.box2 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}

.box3 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}

.box4 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}

.box5 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}

.box6 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}
.box7 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}
.box8 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}
.box9 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}
.box10 {
  width:50px;
  border: 1px solid #fff;
  height:9px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #fff;
}

.charged_box {
  background-color: green;
  border: 1px solid green;
}

.charged_box2 {
  background-color: blue;
  border: 1px solid blue;
}

.charged_box3 {
  background-color: red;
  border: 1px solid red;
}

.charged_box4 {
  background-color: purple;
  border: 1px solid purple;
}
